#header-nav {
	border-radius: 0;
	border: 0;
	border: 2px solid black;
	background-color: #999999;
}
.navbar-brand {
	height: 55px;
}
.navbar-brand > h1 { /* Food LLC */
	color: black;
	font-weight: bold;
	margin: 0px;
	font-size: 1.4em;
}

.navbar-header button.navbar-toggle, .navbar-header button.navbar-toggle .icon-bar {
  	border: 2px solid black;
  	background-color: transparent;
}
.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:hover .icon-bar {
  	border-color: #dcdcdc;
  	background-color: transparent;
}
.navbar-header button.navbar-toggle:focus, .navbar-header button.navbar-toggle:focus .icon-bar {
  	border-color: #dcdcdc;
  	background-color: transparent;
}

#collapsable-nav {
	padding: 0px;
	border: 0px;
}
#nav-list {
	margin: 0px;
}

#nav-list a {
	color: black;
	font-weight: bold;
	background: white;
	border-style: solid;
	border-color: black;
	border-width: 0px;
	border-top-width: 2px;
}

#section-chicken {
	background: #999999;
	color: black;
	height: 1000px;
	padding: 5px 20px 20px 20px;
}
/*#section-chicken p {
	padding: 0px 10px 0px 10px;
}*/

/********** Large & medium devices only **********/
@media (min-width: 992px) {
	
}

/********** Small & extra small devices only **********/
@media (max-width: 991px) {

}
